/*Freddie Clarke*/
/*Main Style Sheet*/
/*1st May 2019*/
body{
    font-family: sans-serif;
    margin-left: 18px;
    background: url(loginBackground.jpg) no-repeat;
    background-size: cover;
}
.mainTitle{
    float: left;
    color: white;
    font-size: 14px;
    border-bottom: 6px solid #2280d8;
    /*margin-bottom: 10px;*/
    padding: 1px 0; 
}
button{
    padding: 5px;
}
p1{
    color: gray;
    font-size: 16px;
}
p2{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
h2{
    font-size: 20px;
}
.inputs{
    color: white;
}
button{
    display: inline-block;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #2280d8;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
button:focus{
    background: #0053ba;
}
button:focus{
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active{
    transform: scale(0.99);
}
input[type=text]{
    height: 1%;
    width: 5%;
    padding: 8px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border-bottom: 2px solid darkblue;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
